includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 0
    paths:
        - wp-content/plugins/glamlux-core/
    excludePaths:
        - vendor/
        - tests/
    bootstrapFiles:
        - tests/bootstrap.php
