includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 0
    paths:
        - wp-content/plugins/glamlux-core/
    excludePaths:
        - vendor/
        - tests/
    bootstrapFiles:
        - tests/bootstrap.php
    ignoreErrors:
        - '#Class WC_Order not found#'
        - '#Function wc_get_order not found#'
        - '#Class WC_Product_Subscription not found#'
        - '#Class WC_Subscription not found#'
        - '#Class WC_Product not found#'
